<article class="w-1/3 px-6">
  <div class="bg-white rounded-lg mt-5 py-4">
    <img src="/Media/<%= tivi.Ma_so %>.png" class="h-40 rounded-md mx-auto" alt="<%= tivi.Ma_so %>" />
  </div>
  <div class="bg-white shadow-lg rounded-lg -mt-4">
    <div class="py-5 px-5">
      <h2 class="font-bold text-gray-800 text-lg"><%= tivi.Ten %></h2>
      <div class="flex items-center justify-between mb-4">
        <div class="text-2xl text-red-600 font-bold">
          <%= tivi.Don_gia_Ban.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %> vnd
        </div>
      </div>
      <a href="/cart?id=<%= tivi.Ma_so %>" class="inline-block px-6 py-2 transition ease-in duration-200 uppercase rounded-full hover:bg-gray-800 hover:text-white border-2 border-gray-900 focus:outline-none">
        Thêm vào giỏ hàng
      </a>
    </div>
  </div>
</article>