<%- include('partials/header'); %>
  <section class="container m-auto p-4">
    <div class="px-4 mb-4">
      <h2 class="text-2xl text-white font-bold mb-6">Tra cứu Tivi</h2>
      <form action="/" method="GET">
        <fieldset class="mb-4">
          <label class="text-white" for="tivi-name">Tên tivi:</label>
          <input class="form-input" type="text" id="tivi-name" name="tivi-name" value="<%= tiviName %>">
        </fieldset>
        <fieldset class="mb-4">
          <label class="text-white" for="tivi-group-name">Nhóm tivi:</label class="text-white">
          <input class="form-input" type="text" id="tivi-group-name" name="tivi-group-name" value="<%= tiviGroupName %>">
        </fieldset>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Tìm</button>
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Hiển thị tất cả</button>
      </form>
    </div>
    <div class="px-4 text-white text-xl">Tổng số sản phẩm: <%= tivis.length %></div>
    <div class="flex flex-wrap content-between">
      <% tivis.forEach(function(tivi){ %>
        <%- include('partials/tivi', {tivi: tivi}); %>
      <% }); %>
    </div>
  </section>
</body>
</html>